
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
